/**** !!! reset ****/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

a:any-link {
  color: #000;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-borders-color: #d9d9d9;
  --selected-button-color: #deebff;
}

/** Margins **/
.mgtop__2rem {
  margin-top: 2rem;
}

.mgtop__1_5rem {
  margin-top: 1.5rem;
}

.mgtop__1rem {
  margin-top: 1rem;
}

/** HX **/
h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 1.375rem;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

/** ICONS **/
.icon--size12 {
  font-size: 12px;
}

.icon--size19 {
  font-size: 1.2rem;
}

.icon--blue {
  color: var(--main-color);
}

.icon--grey {
  color: var(--main-bg-color);
}

.icon__growth {
  color: var(--main-color);
  margin: 6px 0 0 13px;
  display: block;
}

/** MAIN **/

html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}

/** HEADER **/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  align-self: center;
  margin-top: -5px;
}

.logo img {
  height: 20px;
}

nav {
  height: 80px;
  display: flex;
  font-weight: 500;
}

nav ul {
  height: 100%;
  display: flex;
  width: 100%;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  position: relative;
  padding: 0px 32px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
}

nav a:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 2px;
}

nav a:hover {
  color: var(--main-color);
}

nav a:hover:after {
  display: block;
}

/** FILTERS **/

.form__search__location {
  height: 50px;
  display: flex;
  margin-top: 1.75rem;
  border: 1px solid var(--main-bg-color);
  border-radius: 15px;
  overflow: hidden;
  width: fit-content;
}

.search__location_iconcontainer {
  background-color: var(--main-bg-color);
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 23px 0px 24px;
}

.search__textinput {
  padding: 0px 0px 0px 24px;
  display: flex;
  font-size: 1.125rem;
  border: none;
  border-width: 1px 0px 1px 0px;
  align-items: center;
  font-weight: 700;
  border-radius: 0;
  color: #000;
  width: 196px;
  height: 100%;
}

.search__textinput:focus {
  color: #000;
  border: none;
  outline: none;
  border: 1px solid var(--main-color);
}

::placeholder {
  color: #000;
  opacity: 1;
  font-family: "Raleway", sans-serif;
}

.search__textinput:focus::placeholder {
  opacity: 0;
}

.search__btn-icon,
.search__btn-text {
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px 15px 15px 0px;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  z-index: 300;
  height: 100%;
}

.search__btn-icon {
  display: none;
  padding: 0px 16px;
  border-radius: 15px;
}

.filter__innercity__subheading {
  display: block;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

.filter__bar {
  display: flex;
  margin-top: 2.25rem;
  font-weight: 700;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}

.filter__button {
  border: 2px solid var(--filter-borders-color);
  display: flex;
  align-items: center;
  padding: 11px 16px 11px 15px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #fff;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.filter__button i {
  margin-right: 12px;
  color: var(--main-color);
}

.filter__text {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.filter__button:hover {
  background-color: var(--selected-button-color);
}

.info__line {
  display: flex;
  line-height: 1.5rem;
  margin-top: 2rem;
  align-items: center;
}

.info__icon__container {
  color: var(--main-color);
}

.info__icon__container i {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  border: 1px solid var(--filter-borders-color);
  margin: 1px 11px 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}

.card-shadows {
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.card-shadows:hover {
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 3px 15px rgba(0, 0, 0, 0.15);
}

.card img {
  object-fit: cover;
  /*overflow-clip-margin: unset;*/
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

/****** rentals And populars ***********/
.rentals-and-popular-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

/****** rentals ***********/
.rentals {
  width: 65%;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px 30px 25px 30px;
  display: flex;
  flex-direction: column;
}

.rentals-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 2rem;
  margin-top: 2rem;
}

.rentals-cards a {
  flex: 1 1 30%;
  overflow: hidden;
}

.rentals-cards .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 0.5rem;
}

.rentals-cards .card img {
  height: 124px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding-bottom: 8px;
}

.rentals-cards .card h4 {
  margin-top: 8px;
  padding-left: 8px;
}

.rentals-cards .card .card-rating {
  padding-left: 8px;
}

.rentals-cards .card p {
  margin: 6px 0px 4px 8px;
}

.showmore {
  display: block;
  margin-top: auto;
  font-weight: 600;
  font-size: 18px;
}

/****** populars ***********/
.populars {
  width: 32%;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
}

.populars-title,
.rentals-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populars-cards {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.populars-cards a {
  display: flex;
  flex: 1 1;
}

.populars-cards .card {
  display: flex;
  height: 100%;
  width: 100%;
}

.populars-cards img {
  width: 33%;
  height: 134px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.populars-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populars-cards .card-title {
  margin-top: 8px;
  margin-bottom: 4px;
}

.populars-cards .card-subtitle {
  margin: 0;
}

.populars-cards .card-rating {
  margin-bottom: 5px;
}

.card-rating {
  color: var(--main-color);
}

.neutral-star {
  color: var(--filter-borders-color);
}

/***** Activities *****/
.activities {
  width: 100%;
  display: flex;
  padding: 2rem;
  margin-top: 2rem;
  flex-direction: column;
}

.activities-cards {
  display: flex;
  gap: 2rem;
  margin-top: 2.25rem;
}

.activities a {
  flex: 1 1 33%;
}

.card-activities {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.card-activities:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 3px 15px rgba(0, 0, 0, 0.15);
}

.card-activities img {
  height: 380px;
  width: 100%;
  object-fit: cover;
  /*overflow-clip-margin: unset;*/
  object-position: center;
}

.card-activities h4 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

/***** Footer *****/
footer {
  display: flex;
  padding: 48px 0px 48px 32px;
  justify-content: space-between;
  margin-top: 64px;
  background-color: var(--main-bg-color);
}

footer ul {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/********************************/
/****** Media queries ***********/
/********************************/
@media (max-width: 1176px) {
  .showmore {
    margin-top: 1.5rem;
  }
}

/* Medium devices (tablets, >= 1024px) */
@media (max-width: 1024px) {
  .filter__text {
    width: 100%;
  }

  .info__icon__container i {
    margin-top: -2px;
  }

  .rentals-and-popular-container {
    flex-direction: column;
  }

  .rentals {
    width: 100%;
  }

  .showmore {
    margin-top: 1.5rem;
  }

  /***** Popular *****/
  .populars {
    width: 100%;
    margin-top: 50px;
  }

  .populars-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populars-cards a {
    width: 30%;
  }

  .populars-cards .card {
    width: 100%;
    height: 100%;
  }

  /*.populars-cards .card-title {
    font-size: 14px;
  }*/

  /*.populars-cards .card-subtitle {
    font-size: 13px;
  }*/

  /***** Activities *****/
  .card-activities img {
    height: 200px;
  }

  .card-activities h4 {
    height: 70px;
  }
}

/* Small devices (phones, < 768px) */
@media (max-width: 767px) {
  /***** Header *****/
  header {
    flex-direction: column;
  }

  header figure {
    padding: 2rem 0 1rem 0;
  }

  .logo {
    margin-top: 0px;
  }

  /***** Nav *****/
  nav,
  nav ul {
    width: 100%;
    height: 60px;
    margin-top: 0;
  }
  nav ul li {
    width: 50%;
    height: 100%;
  }

  nav ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  nav ul li .nav-grey {
    border-bottom: 2px solid var(--main-bg-color);
  }

  nav ul li:first-child a:any-link {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
  }

  nav a:hover:after {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /***** Filters *****/
  .form__search__location {
    width: 100%;
  }

  .filter__maincontainer {
    padding: 0 20px;
  }

  .search__textinput {
    width: 100%;
  }

  .search__btn-icon {
    display: flex;
  }

  .search__btn-text {
    display: none;
  }

  .filter__button {
    flex: 1 1 45%;
    font-size: 14px;
  }

  /***** Rentals *****/
  .rentals-and-popular-container {
    flex-direction: column-reverse;
  }

  .rentals {
    background-color: unset;
    border-radius: 0;
    padding: 2rem 1.25rem 2rem 1.25rem;
  }

  .rentals-cards {
    flex-direction: column;
  }

  .rentals-cards .card {
    width: 100%;
  }

  .rentals-cards > :nth-child(1) {
    order: 1;
  }

  .rentals-cards > :nth-child(2) {
    order: 6;
  }

  .rentals-cards > :nth-child(3) {
    order: 3;
  }

  .rentals-cards > :nth-child(4) {
    order: 4;
  }

  .rentals-cards > :nth-child(5) {
    order: 2;
  }

  .rentals-cards > :nth-child(6) {
    order: 5;
  }

  .showmore {
    display: none;
  }

  /***** Populars *****/
  .populars {
    padding: 2rem 1.25rem 2rem 1.25rem;
    border-radius: 0;
    margin-top: 0;
  }

  .populars-cards {
    flex-direction: column;
  }

  .populars-cards a {
    width: 100%;
    height: 144px;
  }

  .populars-cards .card {
    width: 100%;
    height: 100%;
  }

  /***** Activities *****/
  .activities {
    padding: 2rem 2rem 0rem 2rem;
  }

  .activities-cards {
    flex-direction: column;
  }

  .card-activities img {
    height: 140px;
  }

  .card-activities h4 {
    height: 60px;
  }

  /***** Footer *****/
  footer {
    flex-direction: column;
    row-gap: 2.5rem;
    padding-top: 2rem;
  }

  footer ul {
    width: 100%;
  }
}

@media (max-width: 345px) {
  .filter__bar {
    flex-direction: column;
  }
}

/* 320px min */
