/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

/**** !!! reset ****/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --filter-borders-color: #d9d9d9;
  --selected-button-color: #deebff;
}

/** Margins **/
.mgtop__2rem {
  margin-top: 2rem;
}

.mgtop__1_5rem {
  margin-top: 1.5rem;
}

.mgtop__1rem {
  margin-top: 1rem;
}

body {
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1rem;
}

/** HX **/
h1,
h2,
h3,
h4 {
  font-weight: 700;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 1.375rem;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

/** ICONS **/
.icon--size10 {
  font-size: 10px;
}

.icon--size12 {
  font-size: 12px;
}

.icon--size16 {
  font-size: 1rem;
}

.icon--size18 {
  font-size: 1.125rem;
}

.icon--size19 {
  font-size: 1.2rem;
}

.icon--size20 {
  font-size: 1.25rem;
}

.icon--size22 {
  font-size: 1.375rem;
}

.icon--blue {
  color: var(--main-color);
}

.icon--grey {
  color: var(--main-bg-color);
}

.icon__growth {
  color: var(--main-color);
  margin: 6px 0 0 13px;
  display: block;
}

/** HEADER **/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.logo {
  align-self: center;
  margin-top: -5px;
}

.logo img {
  height: 20px;
}

nav {
  height: 80px;
  display: flex;
  font-weight: 500;
}

nav ul {
  height: 100%;
  display: flex;
  width: 100%;
}

nav li {
  display: flex;
  align-items: center;
}

nav a {
  position: relative;
  padding: 0px 32px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #000;
}

nav a:after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 2px;
}

nav a:hover {
  color: var(--main-color);
}

nav a:hover:after {
  display: block;
}

/** MAIN **/

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}

/** FILTERS **/

.search__location_iconcontainer {
  background-color: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 23px 0px 24px;
}

.form__search__location {
  max-width: 424px;
  height: 48px;
  display: flex;
  margin-top: 1.5rem;
}

.search__textinput {
  padding: 0px 24px;
  flex-grow: 1;
  display: flex;
  font-size: 1.125rem;
  border: none;
  border: solid var(--main-bg-color);
  border-width: 1px 0px 1px 0px;
  align-items: center;
  font-weight: 700;
  border-radius: 0;
  color: #000;
}

.search__textinput:focus {
  color: #000;
  border: none;
  outline: none;
  border: 1px solid var(--main-color);
}

::placeholder {
  color: #000;
  opacity: 1;
  font-family: "Raleway", sans-serif;
}

.search__textinput:focus::placeholder {
  opacity: 0;
}

.search__btn-icon,
.search__btn-text {
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 0px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0px 15px 15px 0px;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.search__btn-icon {
  display: none;
  padding: 0px 16px;
}

.filter__innercity__subheading {
  display: block;
  line-height: 2.5rem;
}

.filter__bar {
  display: flex;
  margin-top: 2rem;
  font-weight: 700;
  flex-wrap: wrap;
  gap: 1rem 1rem;
}

.filter__button {
  border: 2px solid var(--filter-borders-color);
  display: flex;
  align-items: center;
  padding: 11px 16px 11px 15px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #fff;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.filter__button i {
  margin-right: 12px;
  color: var(--main-color);
}

.filter__text {
  display: flex;
  align-items: center;
}

.filter__button:hover {
  background-color: var(--selected-button-color);
}

.info__line {
  display: flex;
  line-height: 2rem;
  margin-top: 2rem;
}

.info__icon__container {
  color: var(--main-color);
}

.info__icon__container i {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  border: 1px solid var(--filter-borders-color);
  margin: 3px 11px 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 134px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.card-rating {
  color: var(--main-color);
}

.neutral-star {
  color: var(--filter-borders-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
  /* ... */
}
